<?xml version="1.0"?>
<launch>
  <!-- ===== DRAGON simulation settings ===== -->
  <arg name="launch_dragon" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="worldtype" default="$(find aerial_robot_simulation)/gazebo_model/world/empty.world"/>

  <arg name="robot_spawn_x" default="0.0"/>
  <arg name="robot_spawn_y" default="0.0"/>
  <arg name="robot_spawn_z" default="0.0"/>
  <arg name="robot_spawn_yaw" default="0.0"/>

  <!-- ===== Human viewpoint camera settings ===== -->
  <arg name="spawn_eye" default="true"/>
  <arg name="show_image" default="true"/>

  <arg name="eye_spawn_x" default="-2.0"/>
  <arg name="eye_spawn_y" default="0.0"/>
  <arg name="eye_spawn_z" default="1.2"/>
  <arg name="eye_spawn_yaw" default="0.0"/>

  <!-- ===== Bring up DRAGON in Gazebo ===== -->
  <include file="$(find dragon)/launch/bringup.launch" if="$(arg launch_dragon)">
    <arg name="rm" value="False"/>
    <arg name="sim" value="True"/>
    <arg name="real_machine" value="False"/>
    <arg name="simulation" value="True"/>
    <arg name="launch_gazebo" value="True"/>
    <arg name="mujoco" value="False"/>
    <arg name="demo" value="False"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="worldtype" value="$(arg worldtype)"/>
    <arg name="spawn_x" value="$(arg robot_spawn_x)"/>
    <arg name="spawn_y" value="$(arg robot_spawn_y)"/>
    <arg name="spawn_z" value="$(arg robot_spawn_z)"/>
    <arg name="spawn_yaw" value="$(arg robot_spawn_yaw)"/>
  </include>

  <!-- ===== Spawn human viewpoint camera ===== -->
  <node name="eye_camera_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        if="$(arg spawn_eye)"
        args="-file $(find aerial_handover)/urdf/eye_camera.urdf.xacro
              -urdf
              -model eye
              -x $(arg eye_spawn_x)
              -y $(arg eye_spawn_y)
              -z $(arg eye_spawn_z)
              -Y $(arg eye_spawn_yaw)" />

  <!-- ===== Show camera image ===== -->
  <node pkg="image_view"
        type="image_view"
        name="eye_image_view"
        args="image:=/eye/image_raw"
        if="$(arg show_image)" />
</launch>
